お疲れ様です、GitBucketです！ <b><%= pusher %></b> さんがPushしましたよ。

<h2><a href="<%= url %>"><%= owner %> / <strong><%= repo %></strong></a></h2>

<% commits.forEach(function(commit) { %>
<div class="commit">
  <p class="commit-title">
    <%= commit.title %>
  </p>

  <div class="commit-desc">
    <% if (commit.desc) { %>
    <pre><%= commit.desc %></pre>
    <% } %>
  </div>
  <div class="commit-meta">
  <%= commit.timestamp %> <a href="<%= commit.url %>"><%= commit.id %></a>
  <ul>
  <% commit.modified.forEach(function(modified_file) { %>
    <li>M: <%= modified_file %></li>
  <% }); %>
  <% commit.added.forEach(function(added_file) { %>
    <li>A: <%= added_file %></li>
  <% }); %>
  <% commit.removed.forEach(function(removed_file) { %>
    <li>D: <%= removed_file %></li>
  <% }); %>
  </ul>
  </div>
</div>
<% }); %>

<h3>コミットランキング</3>
<table width="100%">
<% ranking.forEach(function(rank, i) { %>
  <% var add_class = rank.name == pusher ? "pusher" : ""; %>
  <tr class="<%= add_class %>">
    <td align="right"><span><%= i+1 %></span></td>
    <td nowrap><span><%= rank.name %></span></td>
    <td align="right"><span><%= rank.point %></span></td>
    <td width="100%">
      <ul class="graf">
        <li style="width:<%= rank.bar_html_num %>%;"></li>
      </ul>
    </td>
  </tr>
<% }); %>
</table>

