お疲れ様です、GitBucketです！ <b><%= pusher %></b> さんがPushしましたよ。

<h2><a href="<%= url %>"><%= owner %> / <strong><%= repo %></strong></a></h2>

<% commits.forEach(function(commit) { %>
<div class="commit">
  <p class="commit-title">
    <%= commit.title %>
  </p>

  <div class="commit-desc">
    <% if (commit.desc) { %>
    <pre><%= commit.desc %></pre>
    <% } %>
  </div>
  <div class="commit-meta">
  <%= commit.timestamp %> <a href="<%= commit.url %>"><%= commit.id %></a>
  </div>
</div>
<% }); %>

<h3>コミットランキング</3>
<table width="100%">
<% ranking.forEach(function(rank, i) { %>
  <tr>
    <td align="right"><%= i+1 %></td>
    <td nowrap ><b><%= rank.name %></b></td>
    <td align="right"><%= rank.point %></td>
    <td width="100%">
      <ul class="graf">
        <li style="width:<%= rank.bar_html_num %>%;">
        </li>
      </ul>
    </td>
  </tr>
<% }); %>
</table>

